/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);


*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    background: #00adad;
    font-family:'Satisfy','cursive','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}
  
/*main{
  background-color: white;
  width: 100%;
}
*/

html,body{
    margin: auto;
    padding: 0;
}

.font_bold{
    font-weight: bold;
}
.font_violet{
    color:#887DD7;
}
/* index.html */
.indexBox{
    box-sizing: border-box;
    padding:20px 20px;
}
.index_title p{
    font-size: 5rem;
    text-align: center;
}

.index_content{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
}
.index_content_main{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;

}
.index_picture{
    background-image:url('https://cdn-icons-png.flaticon.com/512/877/877802.png'); 
    background-size: 350px;
    background-repeat: no-repeat;
   background-position: center;
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
}
.index_picture img{
    width: 100%;
}
.index_p_line_left,.index_p_line_right{
    position: absolute;
    width: 125%;
    height: 1.5px;
    background: #9FA09D;
}
.index_p_line_left{
    transform: rotate(42deg);
    left: -13%;
    top: 50%;
}
.index_p_line_right{
    transform: rotate(-42deg);
    left: -13%;
    top: 50%;
}
.index_button{
    margin: 25px auto;
    width: 250px;
    box-sizing: border-box;
    padding:15px 0;
    border-radius: 8px;
    border: 2px solid #F4B400;
    background: #F4B400;
    color: white;
    font-size: 1.8em;
    font-family: 'Pathway Gothic One', 'sans-serif';
    align-self: center;
}

.index_button:hover {
 background: #4ECB71;
 border: 2px solid #4ECB71;
}
  
.index_tips{
    display: flex;
    align-items: center;
}
.index_icon{
    transform: rotate(45deg);
    margin-right: 5px;
}



/* TreesPages */
.chat_box{
    padding: 30px 15px;
}


.chat_head{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.chat_img{
    margin-right: 15px;
}
.img_trees{
    width: 30px;
    margin-top: 10px;
}

.chat_content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chat_bubble_question,.chat_bubble_option{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
    word-break: break-all;
    font-size: 1.1rem;
    font-family: "Microsoft YaHei";
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
}
.chat_bubble_question{
    color: #fff;
    background: #4ECB71;
    width: 60%;
    margin-left: 8px;
    margin-bottom: 50px;
}
.chat_bubble_option{
    color: #000;
    text-align: center;
    background: white;
    align-self:flex-end;
    padding: 12px 10px;
    margin-right: 8px;
    margin-bottom: 15px;
    width:40%;
}
.chat_bubble_question::after{
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #4ECB71 transparent transparent;
    left: -15px;
    top: 20%;
}
.chat_bubble_option::after{
    content: "";
    position: absolute;
    right: -15px;
    top: 20%;
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.choose_bubble{
    background: skyblue;
    color:#fff;
}
.choose_bubble::after{
    content: "";
    border-color: transparent transparent transparent skyblue;
}

.bubble_width{
    width: 60%;
}
.tree_box{
    position: relative;
}


/*Results*/
.indexBox, .chat_box, #quizzie {
    margin: auto;
    padding: 0;
    width: 800px;
    align-self: center;
}

h1,h2,.page1, body,.button {
  display: grid;
  place-content: center;
}

h1,h2,h3,h4{
  font-family: 'Satisfy', 'cursive';
  font-size: 3em;
}

p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 2em;
}

h3,h4,p {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
}

h3{
    margin: 1em 0;
  }

#AllScore,
#numtree,
#diffavg,
#numcoffee,
#numcar,
#numphone{
  background: #4ECB71;
  border-radius: 6px;
  padding:5px;
}

.saving p,
.data p{
  margin: 1em 0 1em 0;
  text-align: left;
  display: inline-block;
} 

#radarchart{
   align-self: center;
   width: 100%;
}

.energy{
  padding: 15px 0;
  margin: 2em 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #367d7d;
}

.level{
  background-color: #367d7d;
  padding: 15px 0 15px 0;
  margin: 1em auto;
  border-radius: 8px;
}

.level p{
   text-align: center;
}

.plantlevel{
align-self: center;
}

#coffee,
#car,
#phone{
  padding: 20px;
}

#coffee svg {
  background-image: url("https://cdn0.iconfinder.com/data/icons/good-morning-1/128/morning_cute_tea_coffee_cup_hot-512.png");
   background-size: 200px;
   background-repeat: no-repeat;
   margin: 0 0 0 50px;
   padding: 20px;
}

#coffee p{
  text-align:right;
  margin: -125px 50px 0 0;
}

#car svg{
  background-image: url("https://cdn1.iconfinder.com/data/icons/family-life-filled-outline/340/travel_car_summer_vacation_trip_road_drive_vehicle_journey_adventure_holiday-512.png");
   background-size: 150px;
   background-repeat: no-repeat;
   background-position: right;
  margin: 20px 0 0 350px;
}

#car p{
  margin: -90px 0 0 50px;
  text-align:left;
}

#phone svg{
   background-image: url("https://cdn1.iconfinder.com/data/icons/mobile-colored/96/phone_charge_battery_96-1024.png");
   background-size: 180px;
   background-repeat: no-repeat;
   background-position: left;
   margin: 20px 40px 80px 55px;
}

#phone p{
  margin: -180px 50px 50px 0;
  text-align: right;
}

.share{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin: 25px auto;
    width: 250px;
   align-self: center;
}

.again{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin: 10px auto;
    width: 250px;
   align-self: center;
}

.buttons{
  margin: 2em 0 4em 0;
  width: 700px;
}

@media screen and (min-width: 50px) and (max-width: 800px){
  
.indexBox,
.chat_box,
.page0,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6, 
body, 
main,
#quizzie {
    margin: auto;
    padding: 0;
    width: 407px;
    align-self: center;
}

  .index_title p{
    font-size: 4rem;
    text-align: center;
    width: 407px;
    align-self: center;
    margin: 0.5em auto;
}
  

h1,h2,h3,h4{
  font-family: 'Satisfy', 'cursive';
  font-size: 2em;
}
  
p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 1.5em;
}

h3,h4,p {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
}
  
h3{
    margin: 1em 0;
  }

.saving p,
#diffavg,
#numcoffee,
#numcar,
#numphone{
  background: #4ECB71;
  border-radius: 6px;
  padding:5px;
}

.saving p{
 display: block;
 margin: 1em auto;
 text-align: center;
}
  
.data p{
 display: block;
 margin: 1em auto 0.25em auto;
 text-align: center;
  display: inline-block;}

#radarchart{
   align-self: center;
    width: 407px;
}
  
.energy{
  padding: 15px 0;
  margin: 1em 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #367d7d;
  }

#coffee svg {
  background-image: url("https://cdn0.iconfinder.com/data/icons/good-morning-1/128/morning_cute_tea_coffee_cup_hot-512.png");
   background-size: 100px;
   background-repeat: no-repeat;
   margin: 0 0 0 15px;
}

#coffee p{
  margin: -155px 0 0 55px;
}

#car svg{
  background-image: url("https://cdn1.iconfinder.com/data/icons/family-life-filled-outline/340/travel_car_summer_vacation_trip_road_drive_vehicle_journey_adventure_holiday-512.png");
   background-size:80px;
   background-repeat: no-repeat;
   margin: 0 15px 0 30px;
}

#car p{
  margin: -90px 55px 0 15px;

}

#phone svg{
   background-image: url("https://cdn1.iconfinder.com/data/icons/mobile-colored/96/phone_charge_battery_96-1024.png");
   background-size:110px;
   background-repeat: no-repeat;
   background-position: left;
   margin: 0 0 0 10px;
}

#phone p{
  margin: -90px -50px 0 120px;
  padding: 0 0 25px 0;
  width: 200px;
}


.share{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin: 1em auto;
}

.again{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin: 1em auto;
}

.buttons{
  margin: 2em 0 3em 0;
  width: 350px;
}
}

.chat_bubble_option:hover {
  border-bottom: 4px solid #F4B400;
} {
  
}

#playagain{
   background-color: #F4B400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 0 auto;
    font-family: 'Pathway Gothic One', 'sans-serif';
}