@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    background: #00adad;
    font-family:'Satisfy','cursive','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

html,body{
    margin: 0 auto;
    padding: 0;
    width:100%}

.font_bold{
    font-weight: bold;
}
.font_violet{
    color:#887DD7;
}
/* index.html */
.indexBox{
    box-sizing: border-box;
    padding:20px 20px;
}
.index_title p{
    font-size: 6vw;
    text-align: center;
    margin: 0.3em 0;
}

.index_content{
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
}
.index_content_main{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;

}
.index_picture{
    background-image:url('https://cdn-icons-png.flaticon.com/512/877/877802.png'); 
    background-size: 300px;
    background-repeat: no-repeat;
   background-position: center;
    position: relative;
    width: 100%;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
}
.index_picture img{
    width: 100%;
}
.index_p_line_left,.index_p_line_right{
    position: absolute;
    width: 125%;
    height: 1.5px;
    background: #9FA09D;
}
.index_p_line_left{
    transform: rotate(42deg);
    left: -13%;
    top: 50%;
}
.index_p_line_right{
    transform: rotate(-42deg);
    left: -13%;
    top: 50%;
}

.submitbutton{
  display: flex;
  flex-flow: column nowrap;
}

.index_button{
    margin: 0.5em 0 2em 0;
    width: 250px;
    box-sizing: border-box;
    padding: 15px 0;
    border-radius: 8px;
    border: 2px solid #F4B400;
    background: #F4B400;
    color: white;
    font-size: 1.5em;
    font-family: 'Pathway Gothic One', 'sans-serif';
    align-self: center;
}

.index_button:hover {
 background: #4ECB71;
 border: 2px solid #4ECB71;
}
  
.index_tips{
    display: flex;
    align-items: center;
}
.index_icon{
    transform: rotate(45deg);
    margin-right: 5px;
}



/* TreesPages */

.chat_head ul {
  list-style:none;
  font-size: 1.8em;
  font-family: 'Pathway Gothic One', 'sans-serif';
  margin-left: -10px;
}
.chat_head{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.chat_img{
    margin-right: 15px;
}
.img_trees{
    width: 30px;
    margin-top: 10px;
}

.chat_content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chat_bubble_question,.chat_bubble_option{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
    word-break: break-all;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
}
.chat_bubble_question{
    color: #fff;
    background: #4ECB71;
    width: 60%;
    margin-left: 8px;
    margin-bottom: 50px;
}
.chat_bubble_option{
    color: #675750;
    text-align: center;
    background: white;
    align-self:flex-end;
    padding: 12px 10px;
    margin-right: 8px;
    margin-bottom: 15px;
    width:40%;
}
.chat_bubble_question::after{
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #4ECB71 transparent transparent;
    left: -15px;
    top: 20%;
}
.chat_bubble_option::after{
    content: "";
    position: absolute;
    right: -15px;
    top: 20%;
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.chat_bubble_option:hover {
  border-bottom: 4px solid #F4B400;
} 
.choose_bubble{
    background: skyblue;
    color:#fff;
}
.choose_bubble::after{
    content: "";
    border-color: transparent transparent transparent skyblue;
}

.bubble_width{
    width: 60%;
}
.tree_box{
    position: relative;
}
.shovel1 {
  background-image:url('https://cdn3.iconfinder.com/data/icons/gardening-132/64/33-Digging-1024.png'); 
    background-size: 50px;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
    border-radius:50px；
}
.shovel2{
  background-image:url('https://cdn3.iconfinder.com/data/icons/gardening-132/64/33-Digging-1024.png'); 
    background-size: 50px;
    background-repeat: repeat-x;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
    border-radius:50px；
}

.shovel3{
  background-image:url('https://cdn3.iconfinder.com/data/icons/gardening-132/64/33-Digging-1024.png'); 
    background-size: 50px;
    background-repeat: repeat-x;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
    border-radius:50px；
}
.shovel4{
  background-image:url('https://cdn3.iconfinder.com/data/icons/gardening-132/64/33-Digging-1024.png'); 
    background-size: 50px;
    background-repeat: repeat-x;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
    border-radius: 50px;
}
.shovel5{
  background-image:url('https://cdn3.iconfinder.com/data/icons/gardening-132/64/33-Digging-1024.png'); 
    background-size: 50px;
    background-repeat: repeat-x;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6px;
    border-radius: 50px;
}

#page5que {
  margin-top:-2em;
}

#page5ans {
   margin-top:-2em;
}

/*Results*/
.indexBox, .chat_box, #quizzie {
    margin: 2em auto;
    padding: 0;
    width: 800px;
    align-self: center;
}

h1,h2,.page1, body,.button {
  display: grid;
  place-content: center;
}

h1,h2,h3,h4{
  font-family: 'Satisfy', 'cursive';
  font-size: 3em;
}

p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 2em;
}

h3,h4,p {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
}

h3{
    margin: 1em 0;
  }

#AllScore,
#numtree,
#diffavg,
#numcoffee,
#numcar,
#numphone{
  background: #4ECB71;
  border-radius: 6px;
  padding:5px;
}

.saving p,
.data p{
  margin: 1em 0 1em 0;
  text-align: left;
  display: inline-block;
} 

#barchart{
   align-self: center;
   width: 100%;
}

.energy{
  padding: 15px 0;
  margin: 2em 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #367d7d;
}

.level{
  background-color: #367d7d;
  padding: 15px 0 15px 0;
  margin: 1em auto;
  border-radius: 8px;
}

.level p{
   text-align: center;
}

.plantlevel{
align-self: center;
}

.vertical_dotted_line{
   border-left: 4px dotted white;
    height: 800px;
  margin: 0 50%;
  } 

.circle{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 25px 0 -12px 396px;
}

.circle1{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0px 0px 0 -24px;
  }
  
.circle2{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0 0 0 776px;
  }
  
.circle3{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0 0px 55px -24px;
  }

.circle4{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 65px 0 50px 396px;
  }

#coffee,
#car,
#phone{
  padding: 20px;
}

.horizontal_dotted_line1{
  border-bottom: 4px dotted white;
  width: 50px;
  margin: -150px 0 -12px -21px;
} 

#coffee{
  margin: -800px 0 0 400px;
}
#coffee svg {
  background-image: url("https://cdn0.iconfinder.com/data/icons/good-morning-1/128/morning_cute_tea_coffee_cup_hot-512.png");
   background-size: 200px;
   background-repeat: no-repeat;
   margin: 0 0 0 50px;
   padding: 20px;
}

#coffee p{
  text-align:right;
  margin: 0 70px 0 0;
}

.horizontal_dotted_line2{
  border-bottom: 4px dotted white;
  width: 50px;
  margin: -115px 0 -12px 731px;
} 

#car{
  margin: 100px 0 0 -400px;
}

#car svg{
  background-image: url("https://cdn1.iconfinder.com/data/icons/family-life-filled-outline/340/travel_car_summer_vacation_trip_road_drive_vehicle_journey_adventure_holiday-512.png");
   background-size: 150px;
   background-repeat: no-repeat;
   background-position: right;
  margin: 20px 0 0 350px;
}

#car p{
  margin: 10px 0 0 0;
}

.horizontal_dotted_line3{
  border-bottom: 4px dotted white;
  width: 50px;
 margin: -90px 0 -7px -21px;
}  

#phone{
  margin: 40px 0 0 400px;
}

#phone svg{
   background-image: url("https://cdn1.iconfinder.com/data/icons/mobile-colored/96/phone_charge_battery_96-1024.png");
   background-size: 200px;
   background-repeat: no-repeat;
   background-position: left;
   margin: 60px 40px 80px 55px;
}

#phone p{
  margin: -70px 0 0 0;
}

.again{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin: 10px auto;
    width: 250px;
   align-self: center;
}

#playagain{
   background-color: #F4B400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 0 auto;
    font-family: 'Pathway Gothic One', 'sans-serif';
}

.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2em auto 4em auto;
  width: 700px;
}

footer {
    margin: 2rem 0 1rem 0;
  	color: #367d7d;
    font-size: 15px;
  }

footer p{
  margin: 0 0 -0.5em 0;
}
footer ul {	
  padding: 1rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
  font-size: 15px;
}

footer ul li  {
	list-style-type: none;
	margin-left: 1rem;
  
}

footer ul li:first-child {
	margin-left: 0;
}

footer ul a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #367d7d;
	padding-bottom: 0.15em;
}

footer ul a:hover {
	border-bottom: 4px solid #F4B400;
}

@media screen and (min-width: 10px) and (max-width: 800px){
body, 
main,
.indexBox,
.chat_box,
#quizzie {
    margin: auto;
    padding: 0;
    width: 407px;
    align-self: center;
}

  .index_title p{
    font-size: 10vw;
    text-align: center;
    width: 407px;
    align-self: center;
    margin: 0.3em 0;
}
  .index_content {
    font-size: 20px;
  } 

h1,h2,h3,h4{
  font-family: 'Satisfy', 'cursive';
  font-size: 2em;
}
  
p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 1.5em;
}

h3,h4,p {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
}
  
h3{
    margin: 1em 0;
  }

  
.index_picture{
   background-size: 100%;
   margin: -2em auto;}
  

.saving p{
  background: #4ECB71;
  border-radius: 6px;
  padding: 5px;
}
  
#diffavg,
#numcoffee,
#numcar{
  background: #4ECB71;
  border-radius: 6px;
  padding:3px 4px;
}

#numphone{
  background: #4ECB71;
  border-radius: 6px;
  padding:1.5px 4px;
}

.saving p{
 display: block;
 margin: 1em auto;
 text-align: center;
}
  
.data p{
 display: block;
 margin: 1em auto 0.25em auto;
 text-align: center;
  display: inline-block;}

#barchart{
   align-self: center;
    width: 407px;
}

.circle{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 25px 0 0 199px;
}

.circle1{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0px 0 5px 29px;
  }
  
.circle2{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0px 0 5px 179px;
  }
  
.circle3{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: -115px 0 0px 29px;
  }

.circle4{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin: 0 0 -95px 199px;
  }
  
.energy{
  padding: 15px 0;
  margin: 1em 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #00adad;
  }
  
  
.energy{
  padding: 15px 0;
  margin: 1em 0;
  }
  
#coffee {
  margin: -570px 0 0 150px;
}
  
.horizontal_dotted_line1{
  border-bottom: 4px dotted white;
  width: 30px;
  margin: -115px 0 -7px 35px;
} 

#coffee svg {
  background-image: url("https://cdn0.iconfinder.com/data/icons/good-morning-1/128/morning_cute_tea_coffee_cup_hot-512.png");
   background-size: 100px;
   background-repeat: no-repeat;
   margin: 50px 0 0 65px;
}

#coffee p{
  margin: -90px 0 0 65px;
  text-align:left;
}
  
#car {
  margin: 20px 110px 0 0;
}
  
.horizontal_dotted_line2{
  border-bottom: 4px dotted white;
  width: 30px;
 margin:-115px 0 -7px 150px;
} 

#car svg{
  background-image: url("https://cdn1.iconfinder.com/data/icons/family-life-filled-outline/340/travel_car_summer_vacation_trip_road_drive_vehicle_journey_adventure_holiday-512.png");
    background-size:90px;
   background-repeat: no-repeat;
   background-position: left;
   margin: 0 200px 0 35px;
}

#car p{
  margin: -20px 58px 0 15px;
}

#phone {
   margin: 20px 0 0 150px;
}
  
.horizontal_dotted_line3{
  border-bottom: 4px dotted white;
  width: 30px;
 margin: -115px 0px -12px 35px;
}  
  
#phone svg{
   background-image: url("https://cdn1.iconfinder.com/data/icons/mobile-colored/96/phone_charge_battery_96-1024.png");
   background-size:115px;
   background-repeat: no-repeat;
   margin: 0 0 0 58px;
}

#phone p{
 margin: -20px 0 0 55px;
 text-align:left;
}

  
.vertical_dotted_line{
   border-left: 4px dotted white;
    height: 500px;
  margin: 0 50%;
  }

.again{
   background-color: #F4B400;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 8px;
    margin: 1em auto;
}

.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 8em auto 3em auto;
  width: 350px;
}

.chat_bubble_option:hover {
  border-bottom: 4px solid #F4B400;
} 

#playagain{
   background-color: #F4B400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 0 auto;
    font-family: 'Pathway Gothic One', 'sans-serif';
}

}
